<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidComponetTest"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidComponetTest">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name=".broadcast.ImplicitBroadCastReceiverTestActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidComponetTest">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name=".broadcast.ExplicitCastReceiverTestActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidComponetTest">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name=".service.startcommand.StartCommandTestActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidComponetTest">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name=".service.foreground.ForegroundTestActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidComponetTest">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name=".service.binding.BindingTestActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidComponetTest">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name=".service.binding.AIDLTestActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.AndroidComponetTest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.startcommand.StartCommandTestService"
            android:exported="true" />

        <service
            android:name=".service.foreground.ForegroundTestService"
            android:exported="true"
            android:foregroundServiceType="connectedDevice" />

        <service
            android:name=".service.binding.BindingTestService"
            android:exported="true" />

        <service
            android:name=".service.binding.MessengerTestService"
            android:exported="true"
            android:permission="android.permission.POST_NOTIFICATIONS">
            <intent-filter>
                <action android:name="com.hyundaiht.androidcomponettest.REMOTE_SERVICE" />
            </intent-filter>
        </service>

        <service
            android:name=".service.binding.AIDLTestService"
            android:exported="true"
            android:permission="android.permission.POST_NOTIFICATIONS">
            <intent-filter>
                <action android:name="com.hyundaiht.androidcomponettest.AIDL_REMOTE_SERVICE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".broadcast.Test1BroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.hyundaiht.androidcomponettest.ACTION_UPDATE_DATA1" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".broadcast.Test2BroadcastReceiver"
            android:exported="true"
            android:permission="android.permission.POST_NOTIFICATIONS">
            <intent-filter>
                <action android:name="com.hyundaiht.androidcomponettest.ACTION_UPDATE_DATA2" />
            </intent-filter>
        </receiver>

    </application>

</manifest>